.DS_Store
node_modules
/dist
static
# local env files
.env.local
.env.*.local
venv
staticfiles
# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/__pycache__
frontend/dist/
/config/__pycache__/
/config/settings/__pycache__/

